<h2 class="h2_home">Z jakiej dziedziny chcesz zobaczyć artykuły?</h2>
<div class="form-center">

    <form method="post" action="/articles">
        <p>
            <input type="radio" name="category" value="general">
            <label for="javascript">Ogólne</label>
        </p>
        <p>
            <input type="radio" name="category" value="business">
            <label for="html">Biznes</label><br>
        </p>
        <p>
            <input type="radio" name="category" value="entertainment">
            <label for="css">Rozrywka</label><br>
        </p>
        <p>
            <input type="radio" name="category" value="health">
            <label for="javascript">Zdrowie</label>
        </p>
        <p>
            <input type="radio" name="category" value="science">
            <label for="javascript">Nauka</label>
        </p>
        <p>
            <input type="radio" name="category" value="sports">
            <label for="javascript">Sport</label>
        </p>
        <p>
            <input type="radio" name="category" value="technology">
            <label for="javascript">Technologia</label>
        </p>
        <p>
            <input type="submit" value="Zobacz">
        </p>
    </form>
</div>