<h2 class="h2_form">Pick a category to read about</h2>
<div class="form-center">
    <form class="form" method="post" action="/articles">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="option1" value="general">
            <label class="form-check-label" for="option1">
                General
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="option2" value="business">
            <label class="form-check-label" for="option2">
                Business
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="option2" value="entertainment">
            <label class="form-check-label" for="option2">
                Entertainment
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="option3" value="health">
            <label class="form-check-label" for="option3">
                Health
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="option4" value="sports">
            <label class="form-check-label" for="option4">
                Sports
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="option5" value="technology">
            <label class="form-check-label" for="option5">
                Technology
            </label>
        </div>
        <button type="submit" class="btn btn-primary mb-2 mt-2">Read</button>
    </form>
</div>