<h2 class="h2_home">Pick a category to read about</h2>
<div class="form-center">

    <form method="post" action="/articles">
        <p>
            <input type="radio" name="category" value="general">
            <label for="javascript">General</label>
        </p>
        <p>
            <input type="radio" name="category" value="business">
            <label for="html">Business</label><br>
        </p>
        <p>
            <input type="radio" name="category" value="entertainment">
            <label for="css">Entertainment</label><br>
        </p>
        <p>
            <input type="radio" name="category" value="health">
            <label for="javascript">Health</label>
        </p>
        <p>
            <input type="radio" name="category" value="science">
            <label for="javascript">Science</label>
        </p>
        <p>
            <input type="radio" name="category" value="sports">
            <label for="javascript">Sports</label>
        </p>
        <p>
            <input type="radio" name="category" value="technology">
            <label for="javascript">Technology</label>
        </p>
        <p>
            <input type="submit" value="Read">
        </p>
    </form>
</div>