<div class="container">
    <div class="px-4 py-5 my-5 text-center mx-auto">
        <h1 class="display-5 fw-bold">NewsReader</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Read breaking headlines from top news sources of the world</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a class="btn btn-primary btn-lg px-4 gap-3" href="/form">Read</a>
                <a class="btn btn-primary btn-lg px-4 gap-3" href="/search-form">Search</a>
            </div>
        </div>
    </div>
</div>

