html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
}

.title {
    font-size: 50px;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-weight: 300;

}

.background-white {
    background-color: #fff;
}

.lead {
    font-weight: 400;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    padding-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.article h1 {
    padding: 20px 10px;
    margin-bottom: 0;
    font-weight: 400;
}

img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 40px;
    display: block;
}

.form {
    margin-top: 3rem;
}

.form-center {
    display: flex;
    justify-content: center;
}

.form-control {
    margin-bottom: 1rem;
}

.form-check {
    margin-bottom: 0.5rem;
}

.form-bold {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

#languageSelect {
    width: 60%;
    text-align: center;
}

#countrySelect, #search {
    text-align: center;
}




